<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action='/results' method='Post'>
        First Name:<input type=text name=first_name>
        Last Name:<input type=text name=last_name>
        Email:<input type=text name=email>
        Birthday:<input type="date" name="birthday">
        Create Password:<input type=password name=password>
        Confirm Password:<input type=password name=confirm>
        <input type="submit" name=submit>
    </form>
    
</body>
</html>